<div class="mt-5  ml-5 mr-5 row">

                    <div class="col-8">
                        <form action="/finance/bank-details" method="post" name="form1">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Account Number</label>
                                <input type="text" class="form-control" name="account_no" id="account_no"
                                    value="" placeholder="Account no">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">AcountBRanch NAme</label>
                                <input type="text" name="account_branch" class="form-control" id="account_branch"
                                    aria-describedby="emailHelp" placeholder="Enter AcountBranch Name"
                                    value="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">transaction account no</label>
                                <input type="text" name="transaction_account_no" class="form-control" id="email"
                                    aria-describedby="emailHelp" placeholder="Enter transaction account no" value="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Total amount</label>
                                <input type="text" name="total_amount" class="form-control" id="email"
                                    aria-describedby="emailHelp" placeholder="Enter transaction amount" value="">
                            </div>

                            <input type="submit" class="btn btn-primary" value="Add">
                        </form>
                    </div>

</div>