<div class="mt-5  ml-5 mr-5 row">
   
                   <div class="col-8">
                        <form action="/finance/financial-request" method="post" name="form1">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Account Number</label> 
                                <input type="text" class="form-control" readonly name="account_no" id="account_no" value="<%= data.account_no %>" placeholder="Account no">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">AcountBRanch NAme</label>
                                <input type="text" name="account_branch" class="form-control" id="account_branch" aria-describedby="emailHelp"
                                    placeholder="Enter AcountBranch Name" readonly value="<%= data.account_branch %>">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">transaction account no</label>
                                <input type="text" name="transaction_account_no" class="form-control" id="email" aria-describedby="emailHelp"
                                    placeholder="Enter transaction account no" value="">
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="request" value="1" id="flexRadioDefault1" checked>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Withdraw
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="request" value="0" id="flexRadioDefault2" >
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Deposit
                                    </label>
                                </div>
                            </div>
                           
                            <div class="form-group">
                                <label for="exampleInputEmail1">transaction amount</label>
                                <input type="text" name="transaction_amount" class="form-control" id="email" aria-describedby="emailHelp"
                                    placeholder="Enter transaction amount" value="">
                            </div>
                        
                            <input type="submit" class="btn btn-primary" value="Add">
                        </form>
                   </div>

</div>